[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
tqdm = "*"
python-dotenv = "*"
requests = "*"
google-cloud-bigquery = "*"

[dev-packages]
black = "*"
functions-framework = "*"
pylint = "*"
pytest = "*"
pytest-dotenv = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
