aiohttp==3.7.4.post0; python_version >= "3.6"
async-timeout==3.0.1; python_full_version >= "3.5.3" and python_version >= "3.6"
attrs==21.2.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
cachetools==4.2.2; python_version >= "3.6" and python_version < "3.10"
certifi==2021.5.30; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "3.10" or python_version >= "3.6" and python_version < "3.10" and python_full_version >= "3.6.0"
chardet==4.0.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
charset-normalizer==2.0.6; python_full_version >= "3.6.0" and python_version >= "3.6" and python_version < "3.10"
google-api-core==2.0.1; python_version >= "3.6" and python_version < "3.10"
google-auth==2.2.1; python_version >= "3.6" and python_version < "3.10"
google-cloud-bigquery==2.27.1; python_version >= "3.6" and python_version < "3.10"
google-cloud-core==2.0.0; python_version >= "3.6" and python_version < "3.10"
google-cloud-tasks==2.5.2; python_version >= "3.6"
google-crc32c==1.2.0; python_version >= "3.6" and python_version < "3.10"
google-resumable-media==2.0.3; python_version >= "3.6" and python_version < "3.10"
googleapis-common-protos==1.53.0; python_version >= "3.6" and python_version < "3.10"
grpc-google-iam-v1==0.12.3; python_version >= "3.6"
grpcio==1.41.0; python_version >= "3.6" and python_version < "3.10"
idna==3.2; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "3.10" or python_full_version >= "3.6.0" and python_version >= "3.6" and python_version < "3.10"
multidict==5.1.0; python_version >= "3.6"
packaging==21.0; python_version >= "3.6" and python_version < "3.10"
proto-plus==1.19.0; python_version >= "3.6" and python_version < "3.10"
protobuf==3.18.0; python_version >= "3.6" and python_version < "3.10"
pyasn1-modules==0.2.8; python_version >= "3.6" and python_version < "3.10"
pyasn1==0.4.8; python_version >= "3.6" and python_version < "3.10"
pyparsing==2.4.7; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "3.10" or python_version >= "3.6" and python_version < "3.10" and python_full_version >= "3.3.0"
requests==2.26.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0")
rsa==4.7.2; python_version >= "3.6" and python_version < "3.10"
six==1.16.0; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "3.10" or python_version >= "3.6" and python_version < "3.10" and python_full_version >= "3.3.0"
typing-extensions==3.10.0.2; python_version >= "3.6"
urllib3==1.26.7; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "3.10" or python_full_version >= "3.6.0" and python_version < "3.10" and python_version >= "3.6"
yarl==1.6.3; python_version >= "3.6"
