name: deploy
on:
  push:
    branches: [master]
  workflow_dispatch:

env:
  FUNCTIONS_NAME: vuanem_fb_ads_insights
  REGION: us-central1
  API_VER: v11.0

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Cloud SDK
        uses: google-github-actions/setup-gcloud@v0.2.0
        with:
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true

      - name: Deploy to Cloud Functions          
        run: >-
          gcloud functions deploy ${{ env.FUNCTIONS_NAME }}
          --entry-point=main
          --region=${{ env.REGION }}
          --timeout=530
          --project=${{ secrets.PROJECT_ID }}
          --memory=1024MB
          --runtime=python38
          --trigger-http
          --service-account=${{ secrets.GCP_SA }}
          --set-env-vars=ACCESS_TOKEN=${{ secrets.ACCESS_TOKEN }},API_VER=${{ env.API_VER }},PROJECT_ID=${{ secrets.PROJECT_ID }},TOPIC_ID=${{ secrets.TOPIC_ID }}
